@model Integrador.ViewModels.TransporteViewModel

@{
    ViewBag.Title = "Crear Transporte";
}

<h3>Nuevo Transporte</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(m => m.miTransporte.Origen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.miTransporte.Origen.Id, Model.Destinos, new { htmlAttributes = new { @class = "form-control" } } )
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.miTransporte.Destino, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.miTransporte.Destino.Id, Model.Destinos, new { htmlAttributes = new { @class = "form-control" },  } )
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.miTransporte.Medio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.miTransporte.Medio, Enumerable.Empty<SelectListItem>(), new { htmlAttributes = new { @class = "form-control" }, })
                @Html.ValidationMessageFor(model => model.miTransporte.Medio, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.miTransporte.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.miTransporte.Costo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.miTransporte.Costo, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        

        </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">
    $(document).ready(function () {

   
       $("#miTransporte_Origen_Id").change(cargarTransporte);
       $("#miTransporte_Destino_Id").change(cargarTransporte);
   
    function cargarTransporte() {
    $.ajax({

        url: "@Url.Action("getTransportes", "Transportes")",
        data: { origenId: $("#miTransporte_Origen_Id").val(), DestinoId: $("#miTransporte_Destino_Id").val() },
        type: "GET",
        success: function (data) {
        
            var ddl = $('#miTransporte_Medio');
            ddl.empty();
            $(data).each(function () {

            ddl.append($('<option>', {
                value: this.Value,
                text : this.Value 
            }));
        });
         
    },
    error: function(request, status, error){
        console.log(error);
    }
});
}
    });
</script>

}





