@model Integrador.Models.Tramo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tramo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Arribo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arribo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
